@import "./variables.scss";

@mixin image_wrapper($size, $border_radius) {
  width: $size;
  height: $size;
  border-radius: $border_radius;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-out;
    object-fit: cover;
  }
}

// ───── Input settings ───────────────────────────────────────────────────── //

.input_container {
  display: flex;
  flex-direction: column;

  max-width: 32.25rem;

  &:not(:last-child) {
    margin-bottom: 2.125rem;
  }
}

.input_field {
  padding: 0.875rem 1.125rem;

  font-size: 0.875rem;
  letter-spacing: 0.03em;

  border: 1px solid $light_gray;
  border-radius: 0.25rem;

  color: $main_bright;
  background-color: $main_dark;
  outline: 1px solid transparent;

  transition: outline 0.1s ease-out;

  &::placeholder {
    color: $light_gray;
  }

  &:focus {
    outline: 1px solid $main_bright;
  }
}

.err_message {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $warning;
}

// ───── Custom scrollbar ─────────────────────────────────────────────────── //

@mixin custom_scrollbar() {
  &::-webkit-scrollbar {
    width: 0.75rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $main_dark;
  }
  &::-webkit-scrollbar-thumb {
    height: 2rem;
    border-radius: 1rem;
    border: 0.1875rem solid $main_dark;
    background-color: $light_gray;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $main_bright;
  }
}

// ───── Modal windows ────────────────────────────────────────────────────── //

@mixin modal_window_bg() {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba($color: $main_dark, $alpha: 0.3);
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);

  z-index: 99999;
}

@mixin modal_window_content() {
  margin: 0.75rem 1rem 0;

  border-radius: 0.75rem;
  border: 0.5px solid $light_gray;
  box-shadow: 0 0 0.5rem rgba($color: #ffffff, $alpha: 0.2);

  color: $main_bright;
  background-color: $main_dark;
}

@mixin modal_window_header() {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.05em;
}

// ───── Action buttons ───────────────────────────────────────────────────── //

.action_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.action_button {
  display: flex;
  align-items: center;

  padding: 0.75rem;

  font-size: 0.75rem;

  border-radius: 2rem;
  border: 1px solid $light_gray;
  color: $light_gray;

  transition: border 0.15s ease-out, color 0.15s ease-out;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.add_button:hover {
  border: 1px solid $accent_cyan;
  color: $accent_cyan;
}

.delete_button {
  margin-left: auto;
  &:hover {
    border: 1px solid $warning;
    color: $warning;
  }
}

.confirm_button:hover {
  border: 1px solid $accent_cyan;
  color: $accent_cyan;
}

.cancel_button:hover {
  border: 1px solid $main_bright;
  color: $main_bright;
}

.action_icon {
  flex-shrink: 0;
  margin-left: 0.5rem;
}

// ───── Loaders ──────────────────────────────────────────────────────────── //

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin loader_small() {
  width: 1.125rem;
  height: 1.125rem;

  margin: 0.25rem 0.75rem 0;

  border: 0.125rem solid $main_bright;
  border-top: 0.125rem solid $main_dark;
  border-radius: 50%;

  animation: spin 0.5s ease-in-out infinite;
}

.loader_bg {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  min-height: 874px;

  background-color: rgba($color: #000000, $alpha: 0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  z-index: 4;
}

.loader_big {
  position: sticky;
  top: calc(50% - 2.5rem);

  width: 5rem;
  height: 5rem;

  border: 0.25rem solid $main_bright;
  border-top: 0.25rem solid $accent_pink;
  border-radius: 50%;

  animation: spin 0.5s linear infinite;
}
