// Colors
$main_dark: #110e0e;
$main_bright: #ffffff;
$accent_pink: #f2386d;
$accent_cyan: #2fbeb0;
$warning: #fb2f30;
$light_gray: #959595;
$middle_gray: #2f2f2f;
$dark_gary: #1a1a1a;
$player_bg: #191919;
