@import "../variables.scss";

.pause_icon {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  z-index: 3;
  cursor: pointer;
}

.big {
  width: 3.75rem;
  height: 3.75rem;
  outline: 4px solid $main_bright;
  // backdrop-filter: blur(0.25rem);
  // -webkit-backdrop-filter: blur(0.25rem);
}

.small {
  transform: translateX(-50%) translateY(-50%);
  width: 1.75rem;
  height: 1.75rem;
  outline: 2px solid $main_bright;
}

.pause_stick {
  border-radius: 0.5rem;
  background-color: $main_bright;
}

.stick_big {
  width: 0.375rem;
  height: 1.875rem;
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.stick_small {
  width: 0.215rem;
  height: 1rem;
  &:not(:last-child) {
    margin-right: 0.25rem;
  }
}

@media (max-width: 400px) {
  .big {
    width: 1.75rem;
    height: 1.75rem;
  }

  .stick_big {
    width: 0.25rem;
    height: 1rem;
    &:not(:last-child) {
      margin-right: 0.25rem;
    }
  }
}
