@import "../variables.scss";

@keyframes pop_up_fade_in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.filters {
  margin-top: 3.25rem;
}

.filters_to_choose,
.filter_name {
  display: flex;
  align-items: center;
}

.filters_to_choose {
  flex-wrap: wrap;

  width: 100%;

  font-size: 0.75rem;
  letter-spacing: 0.1em;
}

.header {
  margin-right: 3.75rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.filter {
  position: relative;
  margin-bottom: 0.75rem;

  &:not(:last-child) {
    margin-right: 1.25rem;
  }

  &:hover {
    .filter_name {
      p {
        color: $main_bright;
      }
      .chevron {
        stroke: $main_bright;
      }
    }
  }
}

.focused_filter {
  .filter_name {
    p {
      color: $main_bright;
    }
    .chevron {
      stroke: $main_bright;
      transform: rotate(-180deg);
    }
  }
}

.filter_name {
  cursor: pointer;

  p {
    color: $light_gray;
    transition: 0.15s ease-out;
  }

  .chevron {
    width: 1rem;
    height: 1rem;

    margin-left: 0.25rem;

    stroke: $light_gray;

    transition: stroke 0.15s ease-out, transform 0.15s ease-out;
  }
}

.pop_up {
  position: absolute;
  left: 0;
  top: 2rem;

  padding: 1rem;

  border-radius: 0.25rem;
  border: 0.5px solid $light_gray;
  box-shadow: 0 0 0.5rem rgba($color: #ffffff, $alpha: 0.2);

  background-color: $main_dark;

  transform-origin: top left;

  animation: pop_up_fade_in 0.15s ease-out forwards;

  z-index: 10;
}

.pop_up_price {
  left: initial;
  right: 0;
}

.pop_up_title {
  font-size: 0.875rem;
  font-weight: 600;
  list-style: none;

  margin-bottom: 1em;
}

.li_item {
  display: flex;
  align-items: center;

  font-size: 0.875rem;

  list-style: none;

  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

input[type="checkbox"] {
  display: none;

  &:checked + label {
    color: $main_bright;

    .custom_checkbox {
      border: 1px solid $accent;

      &::after {
        display: block;
      }
    }
  }
}

.label {
  position: relative;

  padding-left: 1.25rem;

  color: $light_gray;
  cursor: pointer;
  user-select: none;

  .custom_checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    border: 1px solid $light_gray;

    &::after {
      display: none;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 0.375rem;
      height: 0.375rem;
      border-radius: 50%;
      background-color: $accent;
    }
  }

  .checkbox_square {
    border-radius: 0.125rem;

    &:after {
      border-radius: 0;
    }
  }

  &:hover {
    color: $main_bright;
    .custom_checkbox {
      border: 1px solid $main_bright;
    }
  }
}

.price_inputs {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.price_input {
  width: 3.875rem;

  font-weight: 500;

  border: none;
  border-bottom: 1px solid $light_gray;

  color: $main_bright;
  background-color: $main_dark;

  transition: border-bottom 0.15s ease-out;

  &::placeholder {
    color: $light_gray;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid $main_bright;
  }
}

.price_not_empty {
  border-bottom: 1px solid $main_bright;
}

@media (max-width: 550px) {
  .header {
    margin-right: 1.25rem;
  }
}

@media (max-width: 420px) {
  .pop_up_mood {
    left: initial;
    right: 0;
  }

  .pop_up_price {
    left: 0;
    right: initial;
  }
}

@media (max-width: 368px) {
  .pop_up_genre {
    left: -100%;
  }

  .pop_up_mood {
    left: 0;
    right: initial;
  }

  .pop_up_price {
    left: -100%;
  }
}
