@import "../genreal_styles.scss";

.hide_button {
  width: fit-content;
  margin: 1em auto;
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.current_song_section {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 2rem 0rem 0;
}

.image_section {
  display: flex;
  justify-content: space-around;
}

.image_wrapper {
  @include image_wrapper(12.75rem, 0.375rem);

  position: relative;
  z-index: 2;
}

.playpause_icon {
  @include play_pause_icon(auto 0.75rem 0.75rem auto, 3.875rem);

  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
}

.name {
  width: fit-content;
  margin: 2em auto 0;
  font-size: 1.375rem;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.meta_info {
  display: flex;
  justify-content: space-between;

  width: 65%;

  font-weight: 500;

  & > div {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}

.general {
  width: 100%;
  max-width: 11.75rem;
}

.info_header {
  letter-spacing: 0.08em;
}

.stats {
  margin-top: 1.75rem;
}

.stat_unit {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;

  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.stat_type {
  color: var(--secondary_text);
}

.text_section {
  max-width: 11.25rem;
  min-width: 10rem;
}

.text {
  @include custom_scrollbar;

  height: 10.375rem;

  margin-top: 1.75rem;
  padding: 0.1em;

  font-size: 0.875rem;
  font-weight: 400;

  letter-spacing: 0.05em;
  overflow-y: scroll;
}

.buy_widget_pos1 {
  display: none;
}

// Media queries
@media (max-width: 1170px) {
  .current_song_section {
    justify-content: space-between;
  }

  .meta_info {
    width: 74%;
  }
}

@media (max-width: 1000px) {
  .current_song_section {
    display: block;
  }

  .meta_info {
    justify-content: space-around;
    width: 100%;
    margin-top: 3rem;
  }

  .general {
    max-width: fit-content;
    margin-right: 1rem;
  }

  .buy_widget_pos1 {
    display: block;
    margin-top: 2.75rem;
  }

  .buy_widget_pos2 {
    display: none;
  }
}

@media (max-width: 620px) {
  .image_section,
  .meta_info {
    justify-content: space-between;
  }
}

@media (max-width: 560px) {
  .current_song_section {
    margin: 2rem 0 0;
  }

  .image_section,
  .meta_info {
    flex-direction: column;
    width: 80%;
    margin: 3rem auto;
  }

  .image_wrapper {
    margin: 0 auto;
  }

  .general {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 3rem;
  }

  .text_section {
    margin-left: 0;
  }

  .buy_widget_pos1 {
    width: fit-content;
    margin: 2.75rem auto 0;
  }
}

@media (max-width: 480px) {
  .current_song_section {
    margin: 0;
  }

  .image_section {
    margin: 2rem auto 0;
  }

  .buy_widget_pos1 {
    width: 100%;
  }

  .buy_widget_pos1,
  .name {
    margin-top: 1.75rem;
  }

  .meta_info {
    margin: 3rem auto 1rem;
  }

  .general {
    margin-bottom: 2rem;
  }
}
