.songs_section {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.songs_list {
  position: relative;
  width: 100%;
  z-index: 5;
}

.view_switch {
  display: flex;
  display: none;

  width: fit-content;

  margin-bottom: 1.5rem;
  margin-left: auto;

  border-radius: 0.25rem;
  border: 1px solid var(--secondary_bg);
}

.switch_option {
  padding: 0.5rem;
  padding-bottom: 0.125rem;
  cursor: pointer;
}

.active_option {
  background-color: var(--secondary_bg);
}

@media (max-width: 1150px) {
  .songs_list_short {
    max-width: 40rem;
    flex-shrink: 0;
  }
}

@media (max-width: 1090px) {
  .songs_list_short {
    max-width: 100%;
  }

  .songs_section {
    flex-direction: column;
  }
}
