@import "../genreal_styles.scss";

.song_item {
  display: flex;
  align-items: center;

  padding: 0.5rem 1.125rem;

  border-radius: 0.25rem;
  background-color: transparent;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 0.125rem;
  }

  &:hover {
    background-color: var(--secondary_bg);
  }
}

.current_song {
  background-color: var(--secondary_bg);

  .image_wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 2;
  }
}

.order_number {
  width: 0.875rem;

  margin-right: 1rem;

  font-size: 0.75rem;
  font-weight: 600;
  text-align: end;
}

.image_wrapper {
  @include image_wrapper(2.75rem, 0.25rem);

  flex-shrink: 0;
  position: relative;
  margin-right: 1.375rem;
}

.playpause_icon {
  @include play_pause_icon(50% 0 0 50%, 2rem);

  transform: translateX(-50%) translateY(-50%);
}

.name_and_meta {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.name {
  margin-right: 1rem;
  font-weight: 600;
}

.meta_info {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

  margin-left: auto;

  font-size: 0.75rem;
}

.meta_unit {
  display: flex;
  align-items: center;

  margin: 0.375rem 0;
  padding: 0.375rem 0.625rem;

  letter-spacing: 0.05em;

  border-radius: 1rem;
  background-color: var(--widget_bg_main);

  &:not(:first-child) {
    margin-left: 0.625rem;
  }
}

.hash_tag {
  display: none;
}

.price {
  @include pink_button(0.375rem 0.5rem, 0.75rem);

  margin-left: 1.75rem;
}

.price_pop_up {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(0.75rem);

  padding: 0.375rem 0.625rem;

  border-radius: 1rem;
  background-color: var(--accent);

  visibility: hidden;
  opacity: 0;

  transition: 0.15s ease-out;
}

.price_pop_up_visible {
  transform: translateY(-50%) translateX(0);
  visibility: visible;
  opacity: 1;
}

@media (max-width: 700px) {
  .song_item {
    padding: 0.5rem;
  }

  .price {
    margin-left: 1rem;
  }
}

@media (max-width: 560px) {
  .song_item {
    &:hover {
      background-color: transparent;

      .play_icon {
        display: none;
      }
    }
  }

  .name_and_meta {
    flex-direction: column;
    align-items: flex-start;
  }

  .meta_info {
    justify-content: flex-start;
    margin-left: 0;
  }

  .meta_unit {
    padding: 0;

    font-size: 0.625rem;
    color: var(--secondary_text);
    background-color: transparent;

    &:not(:first-child) {
      margin-left: 0;
    }

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  .hash_tag {
    font-weight: 600;
    display: block;
  }
}

@media (max-width: 378px) {
  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border-radius: 50%;
  }

  .price_number {
    display: none;
  }
}
