@import "../variables.scss";

.header {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.reset_files_button {
  width: fit-content;

  margin: 5rem 0 0;
  padding: 0.625rem 0.75rem;

  font-size: 0.7rem;
  font-weight: 600;

  border-radius: 1.125rem;
  border: 1px solid $light_gray;
  color: $light_gray;

  transition: 0.15s ease-out;
  cursor: pointer;

  &:hover {
    border: 1px solid $main_bright;
    color: $main_bright;
  }
}
