@import "../variables.scss";
@import "../genreal_styles.scss";

.label_and_counter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.25rem;

  font-size: 0.75rem;

  color: $light_gray;
}

.lyric_input {
  font-family: "Inter Tight", sans-serif;
  height: 21.75rem;
  resize: none;

  @include custom_scrollbar;
}
