@import "../variables.scss";
@import "../genreal_styles.scss";

.prompt_bg {
  @include modal_window_bg();
}

.content {
  @include modal_window_content();

  max-width: 30rem;
  padding: 1.5rem 2rem;
}

.header {
  @include modal_window_header;
}

.info {
  margin-top: 2rem;
  font-size: 0.875rem;
}

.proceed_button {
  margin-left: initial;
}

@media (max-width: 450px) {
  .content {
    padding: 1.5rem 1rem;
  }
}
