@import "../variables.scss";

.main_page {
  padding: 4.5rem clamp(0px, (100vw - 80rem) / 2, 9999px) 2rem;
}

.content {
  padding: 6.5rem 1rem 3rem;
}

.h1 {
  font-size: 1.875rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.songs_section {
  display: flex;
}

@media (max-width: 450px) {
  .content {
    padding-top: 3rem;
  }
}
