@mixin image_wrapper($size, $border_radius) {
  width: $size;
  height: $size;
  border-radius: $border_radius;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-out;
    object-fit: cover;
  }
}

@mixin play_pause_icon($inset, $size) {
  position: absolute;
  inset: $inset;

  width: $size;
  height: $size;

  color: #fff;

  border-radius: 50%;

  overflow: hidden;
  z-index: 8;
  cursor: pointer;
}
