@use "./themes.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter Tight", sans-serif;
  background-color: var(--primary_bg);
  color: var(--primary_text);

  transition: background-color 0.15s ease-out, color 0.15s ease-out,
    border 0.15s ease-out;
}

// ───── Audio Player ─────────────────────────────────────────────────────── //

:root {
  .rhap_container {
    position: fixed;
    bottom: 0;
    left: 0;

    height: 5rem;

    background-color: var(--secondary_bg);
    box-shadow: none;

    z-index: 12;
  }

  // Progress section
  .rhap_progress-section {
    margin-right: 1rem;
    margin-left: 12rem;
  }

  // Progress bar
  .rhap_progress-bar-show-download {
    background-color: rgba($color: #000, $alpha: 0.1);
  }

  .rhap_progress-filled {
    background-color: var(--accent);
  }

  .rhap_progress-indicator {
    background-color: var(--accent);
    box-shadow: none;
  }

  .rhap_download-progress {
    background-color: rgba($color: #fff, $alpha: 0.7);
  }

  // Main controls
  .rhap_controls-section {
    flex: 0;
    min-width: 18rem;
  }

  .rhap_main-controls {
    margin-right: 1rem;
  }

  .rhap_main-controls-button {
    width: fit-content;
    height: fit-content;
  }

  .rhap_volume-controls {
    flex: initial;
    width: 6.875rem;
  }

  .rhap_horizontal .rhap_controls-section {
    margin-left: 0;
  }

  // Additional contronls
  .rhap_additional-controls {
    flex: initial;
    margin-right: 1rem;
  }

  .rhap_repeat-button {
    margin: 0;
  }

  // Playback buttons
  .rhap_button-clear {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Time
  .rhap_time {
    font-size: 0.75rem;
    color: var(--primary_text);
  }

  // Volume
  .rhap_volume-container {
    margin-right: 1rem;
  }

  .rhap_volume-indicator {
    background-color: var(--primary_text);
    box-shadow: none;
  }

  .rhap_volume-filled {
    background-color: var(--primary_text);
  }

  .rhap_volume-bar {
    background-color: var(--secondary_text);
  }

  @media (max-width: 768px) {
    .rhap_container {
      height: 6.25rem;
    }

    .rhap_horizontal {
      flex-direction: column;
    }

    .rhap_horizontal .rhap_controls-section {
      margin-left: auto;
    }
  }

  @media (max-width: 545px) {
    .rhap_progress-section {
      margin-left: 6rem;
    }

    .rhap_controls-section {
      min-width: initial;
    }
  }

  @media (max-width: 378px) {
    .rhap_progress-section {
      margin-left: 4.5rem;
    }

    .rhap_volume-controls {
      display: none;
    }

    .rhap_horizontal .rhap_controls-section {
      margin-left: 0;
      justify-content: flex-end;
    }
  }
}
