.contacts_page {
  padding: 4.5rem clamp(0px, (100vw - 80rem) / 2, 9999px) 2rem;
}

.content {
  padding: 6.5rem 1rem;
}

.contacts {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.05em;

  span {
    margin-right: 1rem;
  }

  a {
    color: var(--accent);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
