@import "../genreal_styles.scss";

.main_page {
  position: relative;
  padding: 4.5rem clamp(0px, (100vw - 80rem) / 2, 9999px) 2rem;
  z-index: 10;
}

.content {
  padding: 6.5rem 2.375rem;
}

.h1 {
  font-size: 1.875rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

@media (max-width: 768px) {
  .player_meta_info {
    bottom: 1.5rem;
  }
}

@media (max-width: 700px) {
  .main_page {
    padding-top: 0;
  }

  .content {
    padding: 6.5rem 1rem;
  }
}
