@import "../variables.scss";

.main_page {
  padding: 4.5rem clamp(0px, (100vw - 80rem) / 2, 9999px) 2rem;
}

.content {
  padding: 6.5rem 1rem 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.h1 {
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.875rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.action_buttons {
  display: flex;
  flex-wrap: wrap;
}

.add_song_button,
.edit_genres_moods_button {
  display: flex;
  align-items: center;

  margin-bottom: 1rem;
  padding: 1em;

  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.05em;

  border-radius: 0.25rem;
  border: 1px solid $accent_cyan;
  color: $main_bright;
  text-decoration: none;

  transition: 0.15s ease-out;
  cursor: pointer;

  &:hover {
    background-color: $accent_cyan;
  }
}

.edit_genres_moods_button {
  background-color: $main_dark;
  border: 1px solid $main_bright;
  margin-right: 1.5rem;

  &:hover {
    background-color: $main_bright;
    color: $main_dark;

    .edit_icon {
      color: $main_dark;
    }
  }
}

.plus_icon,
.edit_icon {
  flex-shrink: 0;

  width: 1rem;
  height: 1rem;

  margin-left: 0.625rem;

  color: $main_bright;
  transition: 0.15s ease-out;
}

@media (max-width: 450px) {
  .content {
    padding-top: 3rem;
  }
}
